# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
**/.gradle/

# Local SDK config
local.properties

# Build outputs (root + moduli)
build/
**/build/

# Android/NDK
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Signing / secrets (consigliato)
*.jks
*.keystore
keystore.properties
signing.properties
